.game-2048-container {
  display: flex;
  flex-direction: column;
  background: #FAF8EF;
  border-radius: 8px;
  margin: 1rem;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 2px;
  padding: 32px;
  margin: 1rem auto;
  background: #bbada0;
}

.grid-row {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 7rem;
  height: 7rem;
}

@media (max-width: 720px) {
  .grid-cell {
    width: 12vw;
    height: 12vw;
  }
}