.game-2048-container {
  display: flex;
  flex-direction: column;
  background: #FAF8EF;
  border-radius: 8px;
  margin: 1rem;
  font-family: 'Clear Sans', sans-serif;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 1vw;
  padding: 32px;
  margin: 1rem auto;
  background: #bbada0;
}

.grid-row {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  font-size: 53px;
  border-radius: 4px;
  gap: 10px
}

@media (max-width: 720px) {
  .grid-cell {
    font-size: 28px;
    width: 12vw;
    height: 12vw;
  }
}