.toggle-language-container {
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  opacity: 0.5;
}

.languages {
  position: fixed;
  bottom: 55px;
  right: 40px;
  z-index: 10;
  list-style-type: none;
  width: fit-content;
}

.language:active {
  transform: scale(0.9);
}