.current-track-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  background: #333333;
  border-radius: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.current-track {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  background: #9c9c9c;
  border-radius: 12px;
  padding: 10px;
  overflow: hidden;
  font-size: 2rem;
  color: #000000;
  gap:20px;
  width: 100%;
  margin: 20px;
  margin: 0 auto;
}

.current-track audio {
  width: 100%;
  background: #333;
  border-radius: 12px;
}

.scroll-wrapper-container {
  background: #d4d4d4;
  border-radius: 12px;
  overflow: hidden;
  color: #000000;
}

.scroll-wrapper {
  display: flex;
  width: max-content;
  animation: scrolling 60s linear infinite;
}

.scroll-wrapper span {
  padding: 0 150px;
}

@keyframes scrolling {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.hide-music-player-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  line-height: 1;
}

@media (max-width: 720px) {
  .current-track {
    font-size: 1rem;
  }
}