.score-board {
  display: flex;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
  gap: 10px
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 14vw;
  height: auto;
  color: white;
  background-color: #8c7063;
  border-radius: 8px;
}

.score-text {
  color: #b9b0b0
}

@media (max-width: 720px) {
  .score {
    width: 18vw;
    font-size: 4vw;
    line-height: 1.75rem;
    font-weight: 600;
  }
}