@import url('https://fonts.googleapis.com');

.game-2048-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #FAF8EF;
  border-radius: 8px;
  margin: 1rem;
  font-family: 'Open Sans', 'Clear Sans', sans-serif;
  font-weight: 700;
  color: #776e65;
}

.grid-2048-container {
  position: relative;
}

.grid-2048 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 1vw;
  padding: 32px;
  margin: 1rem auto;
  background: #bbada0;
  border-radius: 6px;
}

.grid-2048-row {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.grid-2048-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  font-size: clamp(20px, 5vw, 60px);
  border-radius: 4px;
  background: rgba(238, 228, 218, 0.35);
}

@media (min-width: 720px) {
  .grid-2048-cell {
    width: 100px;
    height: 100px;
  }
  .grid-2048 {
    gap: 12px;
  }
  .grid-2048-row {
    gap: 12px;
  }
}
