.current-picture-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.current-picture-comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.current-picture {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.current-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hide-current-picture-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  line-height: 1;
}

.past-picture-button,
.next-picture-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

.past-picture-button:hover,
.next-picture-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.past-picture-button {
  left: 4%;
}

.next-picture-button {
  right: 4%;
}